@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

a{
    text-decoration: none;
    color: black;
}

.RecImg
{
    height: 100vh;
    width: 36vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: absolute;
    display: block;
    z-index: -1;
}
.Container
{
    margin-left: 44%;
}
.nameBox
{
    padding-top: 12%;
    width: fit-content;
}
.NameText
{
    font: normal normal 600 40px Montserrat;
    width: fit-content;
}
.underText{
    height: 4px;
    width: 75%;
    background-color: black;
    margin-top: 7px;
}
.TextBox
{
    margin-top: 4%;
    font: normal normal 500 15px Montserrat;
    color: #797979;
    width: 65%;
}
.IngredientsBox
{
    margin-top: 65px;
}
.ingr
{
    font: normal normal 600 25px Montserrat;
}
.IngrGrid
{
    font: normal normal 500 18px Montserrat;
    color: #797979;
    margin-top: 4%;
    overflow: hidden;
}
.Bold
{
    font-weight: 700;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.nPr
{
    display: inline-block;
}
.Button
{
    margin-top: 8%;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font: normal normal 600 28px Montserrat;
    z-index: 2;
    cursor: pointer;
}

.checkbox
{
    position: absolute;
    z-index: -1;
    opacity: 0;

}
.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox+label::before {
    content: '';
    display: inline-block;
    align-items: center;
    height: 21px;
    width: 21px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url("./image/check-circle.svg");
    background-repeat: no-repeat;
    margin-right: 12px;
    background-position: center center;
}
.checkbox:checked+label::before {
    height: 21px;
    width: 21px;
    background-image: url("./image/check-circle-fill.svg");
    background-repeat: no-repeat;
}

.StepperBox
{
    padding-top: 15px ;
    align-items: center;
    display: flex;
    position: absolute;
    width: 500px;
    height: 150px;
    background-color:#fff ;
    border-radius: 20px;
    box-shadow: 15px 15px 50px gray;
}

.Pr
{
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}